.topics-student-container {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    background-color: #9cc9e6;
  }
  
  .topics-student-element {
    flex:1;
    background-color: #9cc9e6;
    margin: 3%;
  }
  
  .topics-student-navbar {
    width: auto;
  }
  
  .footer-topics-student {
    display: flex;
    flex-direction: column; 
  }

  .topics-table th {
    text-align: left;
    width: 600px;
  }

  .div-with-list-of-topics {
    display: flex;
    flex-direction: column;
  }

  .topics-student-item {
    background-color: white;
    width: 95%;
    padding: 2%;
    margin: 1%;
    border-radius: 25px;
    opacity: 80%;
  }

  .topics-student-item {
    transition: all 0.3s;
    max-height: 60px;
    overflow: hidden;
    border: 1px solid #ccc;
  }
  
  .topics-student-item.expanded {
    max-height: none;
    border: 1px solid #ccc;
  }
  
  .topics-expand-button {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    padding: 10px;
  }
  
  .topics-download-link {
    text-align: right;
  }

  .topics-download-link a{
    text-decoration: none;
  }

  .topics-download-link a:visited{
    color: #0ca3ff;
  }

  .topics-download-link a:link{
    color: var(--primary);
  }
  
  .topics-student-item.expanded .topics-download-link {
    display: block;
  }
  
  .topics-thead {
    font-size: 14pt;
  }

  /* Media query dla ekranów o szerokości 768px lub mniejszej */
@media (max-width: 768px) {
  .topics-thead {
    font-size: 8pt;
  }

  .topics-student-element h1{
    padding: 25px;
  }

  .topics-table td {
    text-align: left;
    width: 600px;
    font-size: 9pt;
  }

  .topics-student-item {
    padding: 6%;
    width: 90%;
    margin: 1%;
  }

  .topics-expand-button {
    position: relative; /* Ustaw pozycję względną */
    top: -15px; /* Przesuń element w górę o 10 pikseli */
  }

  .topics-download-link a,
  .topics-download-link a:visited,
  .topics-download-link a:link {
    font-size: 9pt;
  }
  
  
}


/* Styl dla całej tabeli */
.styled-table-with-topics {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
  }
  
  /* Styl dla nagłówka tabeli */
  .styled-table-with-topics th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
  }
  
  /* Styl dla wierszy z danymi */
  .styled-table-with-topics td {
    padding: 12px;
    text-align: left;
  }

  
  /* Styl dla wierszy z danymi (hover) - efekt podświetlenia wiersza po najechaniu myszką */
  .styled-table-with-topics tbody tr:hover {
    background-color: #e0e0e0;
  }
  