/* sa - s od Start, a od Admin */

.start-window-worker-container {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    background-color: #9cc9e6;
  }
  
  .start-window-worker-element {
    flex:1;
    background-color: #9cc9e6;
    margin: 3%;
  }
  
  .start-window-worker-navbar {
    width: auto;
  }
  
  .footer-start-window-worker {
    display: flex;
    flex-direction: column; 
  }
  
  
  .div-with-tiles-worker {
    margin-top: 12%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    text-align: left;
    margin-bottom: 2rem;
  }
  
  .sw-tile-worker {
    font-size: 13pt;
    height: 150px;
    margin: 1%; 
    align-items: center;
    box-shadow:  3px 4px 3px #00000078;
    width: 15%;
    position: relative;
    padding: 2%;
    border-radius: 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .sw-amount-worker {
    font-size: 24px;
  }
  
  .sw-color1-worker {
    background-color: #863288;
  }
  
  .sw-color2-worker {
    background-color: #EB5A41;
  }
  
  .sw-color3-worker {
    background-color: #299C97;
  }
  
  .sw-color4-worker {
    background-color: #2FA0BE;
  }
  
  /* Media query dla ekranów o szerokości 768px lub mniejszej */
  @media (max-width: 768px) {
    .sw-tile-worker {
      width: calc(100% - 20px); 
    }
  
    .start-window-worker-element {
      flex:1;
      background-color: #9cc9e6;
      margin: 9%;
    }
  
    .sw-tile-worker {
      margin: 3%;;
    
    }
  }
  
  